.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center_div {
  margin: 0 auto;
  width: 30%; /* value of your choice which suits your alignment */
}

.center_divSignInTitle {
  margin: 0 auto;
  width: 12%; /* value of your choice which suits your alignment */
}

.center_divLoginTitle {
  margin: 0 auto;
  width: 10%; /* value of your choice which suits your alignment */
}

.center_divCreateSubjectTitle {
  margin: 0 auto;
  width: 26%; /* value of your choice which suits your alignment */
}

.center_divSignInButton {
  margin: 0 auto;
  width: 38%; /* value of your choice which suits your alignment */
}

.center_divLogInButton {
  margin: 0 auto;
  width: 35%; /* value of your choice which suits your alignment */
}

.center_divCreateSubjectButton {
  margin: 0 auto;
  width: 55%; /* value of your choice which suits your alignment */
}

.center_divNavbar {
  margin: 0 auto;
  width: 50%; /* value of your choice which suits your alignment */
}

.logo {
  background-image: url("ot-logo.png");
}

.navbar {
  background-color: #003767 !important;
}
